@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1{
        @apply text-3xl;
    }
    h2{
        @apply text-xl;
    }
}

@layer components{
    .btn-blue{
        @apply bg-blue-500 py-2 px-4 rounded-xl font-bold text-white
        hover:bg-blue-700;
    }
}

.content-area{
    @apply bg-green-200;
    height:theme('spacing.128');
}